<a href="https://colab.research.google.com/github/Mattalukkal/Ai_ML/blob/Ai_assignment/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Practice Problems – (Variables, Operators, Strings, Lists, Tuples)

1. A financial analyst stores monthly revenues in a list: [120000, 135000, 128000,
142000, 150000]. Find the difference between the highest and lowest revenue without
using loops.

In [ ]:
monthly_revenue = [120000, 135000, 128000,142000, 150000]
monthly_revenue.sort()
diffrence = monthly_revenue[-1] - monthly_revenue[0]
print (diffrence)

30000

2. Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
separate variables and print a formatted string: 'Asha has ₹56000 in her Savings
account (Branch: KCH)'.

In [ ]:
account = ('Asha', 'Savings', 56000, 'KCH')
print (account[0],"has ₹",account[2],"in her",account[1],"account Branch:",account[3])

Asha has ₹ 56000 in her Savings account Branch: KCH

3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find
their average balance.

In [1]:
numbers= ['45000', '56000', '38000']
numbers = [int(i) for i in numbers]
print (sum(numbers)/len(numbers))

46333.333333333336

4. Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace
'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing.

In [ ]:
list = ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']
list[3] = 'Hyderabad'
print (list)
print (list[::-1])

['Kochi', 'Chennai', 'Mumbai', 'Hyderabad', 'Pune']
['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

5. You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5).
Combine them and print the average of all interest rates.

In [ ]:
interest_2024  = (7.1, 7.3, 7.2)
interest_2025  = (7.4, 7.5)
t3=interest_2024+interest_2025
print(f"Average of all interest rates:{sum(t3)/len(t3)}")

Average of all interest rates:7.3

6. A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three
letters) and the year (last four digits).

In [6]:
branch_id = 'TVM-FIN-2025'
branch_code=branch_id[:3]
year=branch_id[-4:]
print(f"{branch_code}-{year}")

TVM-2025

7. Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops,
find total deposits and withdrawals using list slicing or indexing only

In [8]:
transactions = [10000, -2000, 5000, -1500, 3000]

print(f"Total deposits: {sum(transactions[::2])}")
print(f"Total withdrawals: {sum(transactions[1::2])}")

Total deposits: 18000
Total withdrawals: -3500

8. Given name = 'John Doe' and balance = 72500, print a message in title case stating
'John Doe has a balance of ₹72500'. Ensure no type errors occur

In [10]:
name = 'john doe'
balance = 72500
print(f"{name.title()} has a balance of ₹{balance}")

John Doe has a balance of ₹72500

9. A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount
payable after 1 year if interest is simple interest based on rate 7.5%

In [13]:
customer = ('Kiran', 'Loan', 80000, 7.5)
interest = (customer[2] * customer[3] * 1) / 100
print(f"Total amount payable after 1 year: {customer[2] + interest}")

Total amount payable after 1 year: 86000.0

10. Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000,
95000, 134000]. Form a new list of tuples pairing each branch with its profit.

In [15]:
branches = ['Kochi', 'Chennai', 'Mumbai']
profits = [120000, 95000, 134000]
print(f"{(branches[0],profits[0]),(branches[1], profits[1]),(branches[2], profits[2])}")

(('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000))

11. From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three
salaries using slicing only.

In [27]:

salaries = [45000, 56000, 38000, 62000, 54000]
salaries.sort()
print(salaries)
print(f"{salaries[-1],salaries[-2],salaries[-3]}")

[38000, 45000, 54000, 56000, 62000]
(62000, 56000, 54000)

12. Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list
and change the third value to 84.0.

In [31]:
exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9)
exchange_rates = list(exchange_rates)
exchange_rates[2] = 84.0
print(exchange_rates)

[83.2, 83.1, 84.0, 83.0, 82.9]

13. Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000,
72000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000'
without loops.

In [33]:
customer_names = ['Asha', 'John', 'Meera']
balances = [56000, 72000, 65000]
print(f"{customer_names [0]}:{balances[0]}, {customer_names [1]}:{balances[1]}, {customer_names [2]}:{balances[2]}")

Asha:56000, John:72000, Meera:65000

14. Given account_info = (Deepa, 'Savings', 98000), use string formatting to print a
sentence 'Account Holder Deepz has ₹98000 in Savings account'.

In [37]:
account_info = ('Deepa', 'Savings', 98000)
print(f"Account Holder {account_info[0]} has ₹{account_info[2]} in {account_info[1]} account")

Account Holder Deepa has ₹98000 in Savings account

15. Create a nested list storing branch names and their monthly collections: [['Kochi',
[120000, 135000]], ['Chennai', [95000, 110000]]]. Print only the collection of Chennai
branch without using loops.

In [40]:
monthly_collections= [['Kochi', [120000, 135000]], ['Chennai', [95000, 110000]]]
colec = monthly_collections[1][1]
print(f'Chennai Branch Collection : {colec}')

Chennai Branch Collection : [95000, 110000]